PORT=8512
ENV=development

MAX_TITLE_LENGTH=200
MAX_MESSAGE_LENGTH=5000
DEFAULT_MESSAGES_LIMIT=20
MAX_MESSAGES_LIMIT=100

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=chatdb
DB_SSLMODE=disable